html {
	scroll-behavior: smooth;
}
body {
	position: relative;
	min-width: 320px;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	background-color: $color-bg;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
}

.main-page {
	max-width: 100%;
	overflow: hidden;
}

.wrap {
	max-width: 1137px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 6px;
	padding-left: 6px;
}

.db-lg {
	@media (min-width: $min-lg) {
		display: block;
	}
}
.db-md {
	@media (min-width: 780px) {
		display: block;
	}
}
