.annotation {
	margin-top: -12px;
	line-height: 26px;
	font-style: italic;
	letter-spacing: 0.05em;


	@media (min-width: $min-md) {
		margin-bottom: 25px;
	}

	@media (min-width: $min-lg) {
		margin-top: 0;
	}

	&::before {
		content: '';
		display: block;
		width: 48px;
		height: 48px;
		margin: 0 auto 10px;
		background-image: url(../../img/people-ava.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		@media (min-width: $min-md) {
			margin-bottom: 7px;
		}
	}
}

.annotation__name {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: 600;
	line-height: 30px;
	color: $color-primary;
	font-style: italic;
	letter-spacing: 0.05em;
}
