.bottom-form {
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 45px;
	padding-bottom: 45px;
	text-align: center;

	@media (min-width: $min-lg) {
		padding-top: 107px;
	}
}

.bottom-form__title {
	max-width: 860px;
	margin: 0 auto 20px;
	font-weight: 600;
	font-size: 35px;
	line-height: 40px;
	font-family: "Playfair Display", serif;
	letter-spacing: 0.05em;

	@media (min-width: $min-md) {
		margin-bottom: 25px;
		font-size: 45px;
		line-height: 55px;
	}
}

.bottom-form__subtitle {
	margin: 0 0 15px;
	line-height: 25px;
	letter-spacing: 0.05em;

	@media (min-width: $min-md) {
		margin-bottom: 25px;
		line-height: 30px;
	}
}
