.social {
	width: 199px;
	height: 24px;
	margin-top: 37px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	background-image: url(../../img/social.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
